.admin-table {
	@extend .table;
	@extend .table-dark;
	@extend .table-bordered;
	@extend .table-hover;
	@extend .table-responsive-md;
}
.admin-header {
	border-bottom: .3rem solid theme-color(accent);
	background-color: gray(900);
	color: color(white);
	margin-bottom: 1rem;
	padding: 1.5rem 0;

	.row {
		align-items: center;
	}
}
.table-center {
	text-align: center;

	.fa-stack {
		i {
			margin: 0;
		}
	}
	i {
		margin: 0 .5rem;
	}
}
.description-box-inverse {
	dl {
		background-color: gray(900);
		color: color(white);
		line-height: 2;

		dt, dd {
			margin: 0;
			padding: 0 1rem;
		}
	}
}
.nested-fields, .links {
	@extend .clearfix;
	margin-bottom: 1rem;
}
.nested-fields {
	border: 1px solid $border-color;
	border-radius: $border-radius;

	.remove_fields {
		margin: 0 1rem 1rem 0;
	}
	.form-group {
		margin: 1rem;

		.remove_fields {
			margin: 0;
		}
	}
}
