.navbar {
	color: color(white);
	font-weight: 900;
	background-color: theme-color(primary);

	.navbar-brand {
		line-height: 1;
		margin-right: 0;

		&:hover, &:focus, &:active {
			color: gray(300);
		}
		img {
			max-height: 3rem;
			margin-right: .5rem;
		}
		.app-name {
			font-size: 1.6rem;
		}
	}
	.navbar-toggler {
		color: color(white);
		border-color: color(white);

		&:hover, &:focus, &:active {
			color: theme-color(accent);
			border-color: theme-color(accent);
		}
	}
	.nav-item {
		i {
			width: 2rem;
			text-align: center;
		}
		.btn, .navbar-text, .nav-link {
			text-transform: uppercase;
		}
		.nav-link {
			line-height: 1;

			&:hover, &:focus, &:active {
				color: gray(300);
			}
		}
		.navbar-text {
			img {
				height: 1rem;
				margin: 0 .5rem;
			}
		}
	}
	.navbar-divider {
		border-bottom: 1px solid gray(300);
		margin: .25rem 0;
		width: 100%;
		display: block;
	}
	@include media-breakpoint-down(md) {
		.navbar-nav {
			.dropdown {
				.dropdown-toggle {
					display: none;
				}
				.dropdown-menu {
					display: block;
					margin: 0;
					padding: 0;

					.dropdown-item {
						padding: .5rem 0;
					}
				}
			}
		}
	}
	.dropdown {
		.dropdown-toggle .fa-caret {
			@extend .fa-caret-down
		}
		&.show .dropdown-toggle .fa-caret {
			@extend .fa-caret-up
		}
		.dropdown-menu {
			margin-top: 1rem;
			border: none;
			border-radius: 0 0 .25rem .25rem;

			.dropdown-item {
				font-weight: 900;
				text-transform: uppercase;
				line-height: 1;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		background-image: linear-gradient(to right, color(blue), color(indigo), color(purple), color(deep-red));

		.navbar-brand {
			margin-right: 1rem;
		}
		.navbar-nav {
			align-items: center;
		}
		.nav-link {
			&.active {
				padding-bottom: calc(1rem + 2px);
				border-bottom: 4px solid theme-color(accent);
				margin-bottom: -1rem;
			}
		}
	}
}
