.btn-outline-facebook {
	@include btn-outline(color(facebook));
}
.btn-outline-twitter {
	@include btn-outline(color(twitter));
}
.btn-outline-google-plus {
	@include btn-outline(color(google-plus));
}
.btn-admin-index {
	@include btn-outline(theme-color(primary));
	font-weight: 900;

	@include media-breakpoint-only(xs) {
		margin-top: 1rem;
	}
}
.btn-admin-show {
	@include btn-outline(theme-color(primary));
	font-weight: 900;

	@include media-breakpoint-only(xs) {
		margin-top: 1rem;
	}
}
.btn-admin-new {
	@include btn-outline(theme-color(success));
	font-weight: 900;

	@include media-breakpoint-only(xs) {
		margin-top: 1rem;
	}
}
.btn-admin-edit {
	@include btn-outline(theme-color(warning));
	font-weight: 900;

	@include media-breakpoint-only(xs) {
		margin-top: 1rem;
	}
}
.btn-admin-destroy {
	@include btn-outline(theme-color(danger));
	font-weight: 900;

	@include media-breakpoint-only(xs) {
		margin-top: 1rem;
	}
}
.btn-navbar {
	color: color(white);
	background-color: theme-color(accent);
	border-color: theme-color(accent);

	&:hover, &:focus, &:active {
		background-color: theme-color(primary);
		border-color: theme-color(primary);
		color: color(white);
	}
}
.btn-group-justified {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.new_message {
		margin-bottom: .5rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.btn {
			border-radius: 2.4rem;
			margin-bottom: .5rem;
			box-shadow: 0 0 0 1px rgba(theme-color(primary), .25);
		}
		.check-buttons {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;

			.active {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'%235cb85c\' d=\'M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z\'/%3E%3C/svg%3E");
				padding-right: 2.25rem;
				background-repeat: no-repeat;
				background-position: center right 0.5625rem;
				background-size: 1.125rem 1.125rem;
				background-color: color(white);
				border-color: theme-color(success);
				color: theme-color(success);
			}
			label {
				margin-bottom: 0;
				font-weight: 400;
			}
		}
	}
}
.btn {
	i:first-child:not(:only-child) {
		margin-right: .5rem;
	}
	i:last-child:not(:only-child) {
		margin-left: .5rem;
	}
}
.btn-warning {
	color: color(white);

	&:hover, &:focus, &:active {
		color: color(white);
	}
}
.add_fields {
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-primary;
	float: right;
}
.remove_fields {
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-danger;
	float: right;
}
.col-sm-1 {
	text-align: center;

	.remove_fields {
		float: none;
	}
}
.fa-index {
	@extend .fa-reply;
}
.fa-show {
	@extend .fa-eye;
}
.fa-new {
	@extend .fa-plus;
}
.fa-destroy {
	@extend .fa-remove;
}
